[mysqld]
user=mysql
port=3306
character-set-server=utf8
default_authentication_plugin=mysql_native_password
skip_ssl
#不区分大小写
lower_case_table_names=1
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
